<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная страница</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/main_styles.css">
</head>
<body>

<div class="wrapper">
  <div class="container">
    <header class="container">
      <span class="logo"><a href="/">SoundStation</a></span>
      <nav>
        <ul>
          <li class="nav-el"><a href="#tracks">Релизы</a> </li>
          <li class="nav-el"><a href="#balance">Баланс</a> </li>
          <li class="nav-el"><a href="#support">Поддержка</a></li>
          <li class="btn"><a href="/logout/">Выход</a></li>
        </ul>
      </nav>
    </header>

    <div class="balance-card">
      <div class="balance-info">
        <p class="balance-title">Доступные средства</p>
        <p class="usd-balance">
          <span class="balance-amount">₽{{printf "%.2f" .RubBalance}}</span> (RUB)
        </p>
        <p class="rub-balance">
          ${{printf "%.2f" .UsdBalance}} (USD)
        </p>
      </div>
      <div class="withdraw-button-container">
        <button class="withdraw-button"><a href="#withdraw">Вывод средств</a></button>
      </div>
    </div>


    <div class="main">
      <div class="container tracks">
        <h3 id="tracks">Список релизов</h3>
        <button class="btn">Загрузить</button>
        <hr>
        <div class="bd">
          {{if .Tracks}}
          <table>
            <thead>
            <tr>
              <th>Название трека</th>
              <th>Артист</th>
              <th>Жанр</th>
              <th>Ссылка на трек</th>
              <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            {{range .Tracks}}
            <tr>
              <td>{{.TrackName}}</td>
              <td>{{.ArtistNickname}}</td>
              <td>{{.Genre}}</td>
              <td><a href="{{.CloudStorageURL}}" target="_blank">Файлы</a></td>
              <td>{{.Status}}</td>
            </tr>
            {{end}}
            </tbody>
          </table>
          {{else}}
          <p>Треков пока нет</p>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</div>



<footer>
  <div class="blocks container">
    <div>
      <span class="logo">SoundStation</span>
      <p>Музыка — это свобода. Так обретите ее!</p>
    </div>
    <div>
      <h4>О нас</h4>
      <p>Услуги</p>
      <a href="#" id="openFaqModal">FAQ</a>
    </div>
    <div>
      <h4>Контакты</h4>
      <p>Email: soundstation@gmail.ru</p>
      <p>+7 (999) 666-11-11</p>
    </div>
  </div>
  <hr>
  <p>Copyright ® 2024 SoundStation All rights Rcerved</p>
</footer>

<!-- Модальное окно загрузки трека -->
<div id="uploadModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3>Загрузить трек</h3>
    <form id="uploadForm">
      <label for="track_name">Трек</label>
      <input type="text" id="track_name" name="track_name" title="Введите название трека" required>

      <label for="artist_nickname">Артист</label>
      <input type="text" id="artist_nickname" name="artist_nickname" title="Введите имя артиста" required>

      <label for="genre">Жанр</label>
      <select id="genre" name="genre" required>
        <option value="pop">Поп</option>
        <option value="rock">Рок</option>
        <option value="hiphop">Хип-хоп</option>
        <option value="electronic">Электроника</option>
      </select>

      <label for="cloud_storage_url">Ссылка на облачное хранилище</label>
      <input type="url" id="cloud_storage_url" name="cloud_storage_url" title="Вставьте ссылку на файл в облаке" required>

      <!-- Выбор площадок для дистрибуции -->
      <label for="distribution_platforms">Площадки для дистрибуции</label>
      <textarea id="distribution_platforms" name="distribution_platforms" readonly placeholder="Выберите площадки" onclick="toggleCheckboxes()"></textarea>

      <div id="platform_checkboxes" class="checkboxes">
        <input type="checkbox" id="spotify" name="platforms" value="Spotify" onclick="updateTextarea()">
        <label for="spotify">Spotify</label><br>
        <input type="checkbox" id="apple_music" name="platforms" value="Apple Music" onclick="updateTextarea()">
        <label for="apple_music">Apple Music</label><br>
        <input type="checkbox" id="youtube_music" name="platforms" value="YouTube Music" onclick="updateTextarea()">
        <label for="youtube_music">YouTube Music</label><br>
        <input type="checkbox" id="tiktok" name="platforms" value="TikTok" onclick="updateTextarea()">
        <label for="tiktok">TikTok</label>
        <input type="checkbox" id="vk_music" name="platforms" value="VK Music" onclick="updateTextarea()">
        <label for="vk_music">VK Music</label>
        <input type="checkbox" id="yandex_music" name="platforms" value="Яндекс.Музыка" onclick="updateTextarea()">
        <label for="yandex_music">Яндекс.Музыка</label>
      </div>

      <button type="submit" class="btn">Загрузить</button>
    </form>
  </div>
</div>


<!-- Модальное окно для поддержки -->
<div id="supportModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3>Свяжитесь с нами</h3>
    <form id="supportForm">
      <label for="support_name">Имя</label>
      <input type="text" id="support_name" name="support_name" title="Введите ваше имя" required>

      <label for="support_email">Email</label>
      <input type="email" id="support_email" name="support_email" title="Введите ваш email" required>

      <label for="support_message">Сообщение</label>
      <textarea id="support_message" name="support_message" rows="4" title="Введите ваше сообщение" required></textarea>

      <button type="submit" class="btn">Отправить</button>
    </form>
  </div>
</div>


<!-- Модальное окно для FAQ -->
<div id="faqModal" class="faqModal">
  <div class="faqModal-content">
    <span class="close">&times;</span>
    <h3>Часто задаваемые вопросы</h3>

    <!-- Вопрос 1 -->
    <div class="faq-item">
      <button class="accordion">Можно ли удалить релиз с площадок?<span class="arrow">&#9660;</span></button>
      <div class="panel">
        <p>Да. Для этого вы можете обратиться в поддержку.</p>
      </div>
    </div>

    <!-- Вопрос 2 -->
    <div class="faq-item">
      <button class="accordion">Как понять, что мой релиз одобрен?<span class="arrow">&#9660;</span></button>
      <div class="panel">
        <p>Когда Вы загружаете релиз, он уходит к нам на модерацию. Мы всё проверяем и можем отклонить релиз, написав причину и отправив на доработку. Если релиз одобрен, в таблице будет статус "Опубликовано".</p>
      </div>
    </div>

    <!-- Вопрос 3 -->
    <div class="faq-item">
      <button class="accordion">Сколько длится модерация?<span class="arrow">&#9660;</span></button>
      <div class="panel">
        <p>Модерация делается до 3-х рабочих дней.</p>
      </div>
    </div>

    <!-- Вопрос 4 -->
    <div class="faq-item">
      <button class="accordion">Как я могу изменить релиз?<span class="arrow">&#9660;</span></button>
      <div class="panel">
        <p>Если вы допустили ошибку или хотите изменить что-то в релизе вы можете обратиться в поддержку.</p>
      </div>
    </div>

  </div>
</div>






<script>
  // Получаем элементы
  const uploadModal = document.getElementById('uploadModal');
  const uploadBtn = document.querySelector('.tracks .btn');
  const uploadClose = document.getElementsByClassName('close')[0];

  // Когда пользователь нажимает на кнопку "Загрузить", открываем модальное окно
  uploadBtn.onclick = function() {
    uploadModal.style.display = 'block';
  }

  // Когда пользователь нажимает на <span> (x), закрываем модальное окно
  uploadClose.onclick = function() {
    uploadModal.style.display = 'none';
  }


  // Получаем элементы
  const supportModal = document.getElementById('supportModal');
  const supportBtn = document.querySelector('nav .nav-el a[href="#support"]');
  const supportClose = document.getElementsByClassName('close')[1]; // Второй элемент закрытия для модального окна поддержки

  // Когда пользователь нажимает на ссылку "Поддержка", открываем модальное окно
  supportBtn.onclick = function(event) {
    event.preventDefault(); // Отменяем стандартное действие ссылки
    supportModal.style.display = 'block';
  }

  // Когда пользователь нажимает на <span> (x), закрываем модальное окно
  supportClose.onclick = function() {
    supportModal.style.display = 'none';
  }


  // Обработчик отправки формы поддержки
  document.getElementById('supportForm').addEventListener('submit', function (event) {
    event.preventDefault(); // Отменяем стандартное поведение формы

    const formData = new FormData(this);

    // Здесь должен быть ваш код для отправки данных на сервер
    // Например, можно сделать fetch запрос на ваш сервер, где будет настроен endpoint для отправки email

    fetch('/support/', {
      method: 'POST',
      body: formData
    })
            .then(response => response.text())
            .then(data => {
              // Закрыть модальное окно после успешной отправки
              supportModal.style.display = 'none';
              // Очистить форму
              this.reset();
              alert('Ваше сообщение отправлено!');
            })
            .catch(error => console.error('Ошибка отправки сообщения:', error));
  });



  document.getElementById('uploadForm').addEventListener('submit', function (event) {
    event.preventDefault(); // Отменяем стандартное поведение формы

    const formData = new FormData(this);

    fetch('/upload-track/', {
      method: 'POST',
      body: formData
    })
            .then(response => response.text())
            .then(data => {
              // Закрыть модальное окно
              uploadModal.style.display = 'none'; // Здесь исправлено на uploadModal
              // Очистить форму
              this.reset();
              // Перезагрузить страницу
              window.location.reload();
            })
            .catch(error => console.error('Ошибка:', error));
  });





  // Получаем элемент баланса и ссылку "Баланс" в меню
  const balanceCard = document.querySelector('.balance-card');
  const balanceLink = document.querySelector('nav .nav-el a[href="#balance"]');

  // Переключаем класс 'show' при клике
  balanceLink.onclick = function(event) {
    event.preventDefault(); // Отключаем стандартное поведение ссылки
    balanceCard.classList.toggle('show');
  };


  // Функция для показа/скрытия чекбоксов
  function toggleCheckboxes() {
    const checkboxes = document.getElementById("platform_checkboxes");
    checkboxes.classList.toggle("show-checkboxes");
  }

  // Функция для обновления textarea с выбранными значениями
  function updateTextarea() {
    const checkboxes = document.querySelectorAll("#platform_checkboxes input[type=checkbox]");
    const selectedPlatforms = [];

    checkboxes.forEach((checkbox) => {
      if (checkbox.checked) {
        selectedPlatforms.push(checkbox.value);
      }
    });

    document.getElementById("distribution_platforms").value = selectedPlatforms.join(", ");
  }

  // Открытие и закрытие модального окна FAQ
  const faqModal = document.getElementById("faqModal");
  const openFaqModalLink = document.getElementById("openFaqModal");
  const closeFaqModal = faqModal.querySelector(".close");

  // Открыть модальное окно при клике на ссылку в подвале
  openFaqModalLink.onclick = function(event) {
    event.preventDefault(); // Предотвращаем переход по ссылке
    faqModal.style.display = "block";
  }

  // Закрыть модальное окно при клике на крестик
  closeFaqModal.onclick = function() {
    faqModal.style.display = "none";
  }


  // Логика аккордеона для раскрытия ответов
  const accordions = document.querySelectorAll(".accordion");

  accordions.forEach(function(accordion) {
    accordion.addEventListener("click", function() {
      // Переключение между скрытием и отображением панели
      const panel = this.nextElementSibling;
      const arrow = this.querySelector(".arrow");

      // Закрыть все другие панели (чтобы был один открытый вопрос)
      accordions.forEach(function(otherAccordion) {
        if (otherAccordion !== accordion) {
          otherAccordion.nextElementSibling.style.display = "none";
          otherAccordion.querySelector(".arrow").style.transform = "rotate(0deg)";
        }
      });

      // Переключить состояние текущего аккордеона
      if (panel.style.display === "block") {
        panel.style.display = "none";
        arrow.style.transform = "rotate(0deg)";
      } else {
        panel.style.display = "block";
        arrow.style.transform = "rotate(180deg)";
      }
    });
  });


  document.getElementById('supportForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Отменяем стандартное поведение формы

    // Получаем данные из формы
    const name = document.getElementById('support_name').value;
    const email = document.getElementById('support_email').value;
    const message = document.getElementById('support_message').value;

    // Отправляем данные на сервер
    fetch('/support', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ name, email, message }),
    })
            .then(response => response.json())
            .then(data => {
              // Показываем сообщение об успехе или ошибке
              const responseMessage = document.getElementById('responseMessage');
              responseMessage.style.display = 'block';
              responseMessage.innerText = data.message;

            })
            .catch(error => {
              console.error('Ошибка:', error);
            });
    // Закрываем модальное окно
    const modal = document.getElementById('supportModal');
    modal.style.display = 'none';
  });


</script>
</body>
</html>